.user-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;

  &__avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 7px;

    img {
      width: 100%;
      max-width: 100%;
    }
  }

  &__name {
    flex: 1;

    > * {
      font-size: 13px;
      font-weight: 600;
      color: #006fa9;
      cursor: pointer;
    }
  }
}