.fullscreen {
  position: relative;
  width: 100%;
  height: 100%;

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;;
  }

  &-top {
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(rgba(0,0,0,.7),hsla(0,0%,98%,0) 100%);

    .user-info {
      padding-top: 0;

      &__avatar {
        width: 50px;
        height: 50px;
      }

      &__name {
        > * {
          font-size: 20px;
        }
      }
    }
  }

  &-bottom {
    padding: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(360deg, rgba(0,0,0,.7),hsla(0,0%,98%,0) 100%);

    .reaction-info {
      padding-top: 0;

      * {
        color: lighten($color: $gray, $amount: 20);
      }

      .attachment {
        .icon {
          font-size: 35px;
        }
      }

      &__stats {
        .stats-item {
          margin-right: 20px;

          .icon {
            font-size: 20px;
            margin-right: 8px;
          }

          span {
            font-size: 20px;
          }
        }
      }
    }
  }
}