.card {
  padding: 15px 0;

  &-preview {
    width: 100%;
    background: $white;
    padding: 7px;

    &__image {
      width: 100%;
      padding-top: 88.5%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
}