.reaction-info {
  display: flex;
  padding-top: 10px;
  min-height: 35px;
  
  * {
    color: $gray;
  }

  .attachment {
    .icon {
      font-size: 22px;
    }
  }

  &__stats {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .stats-item {
      margin-right: 10px;
      display: flex;
      align-items: center;

      &:last-child {
        margin-right: 0;
      }

      .icon {
        font-size: 13px;
        vertical-align: -1px;
        margin-right: 3px;
      }

      span {
        font-size: 13px;
      }
    }
  }

  @include media-breakpoint-down(xs) {
    min-height: 29px;

    .attachment {
      .icon {
        font-size: 15px;
      }
    }
  
    &__stats {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
  
      .stats-item {
        margin-right: 5px;
  
        .icon {
          font-size: 9px;
        }
  
        span {
          font-size: 9px;
        }
      }
    }
  }
}