@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?cvxt4o');
  src:  url('#{$icomoon-font-path}/icomoon.eot?cvxt4o#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?cvxt4o') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?cvxt4o') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?cvxt4o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

.icon-heart {
  &:before {
    content: unicode($icon-heart); 
  }
}

.icon-eye {
  &:before {
    content: unicode($icon-eye); 
  }
}

.icon-comment {
  &:before {
    content: unicode($icon-comment); 
  }
}

.icon-paperclip {
  &:before {
    content: unicode($icon-paperclip); 
  }
}
