$white: #fff;
$black: #000;
$gray: #a9a9a9;
$gray-1: #eee;
$red: #ff0000;
$blue: #1991ff;

$border-color: $gray;
$error-color: $red;
$border-radius: 3px;
$bg-body: $gray-1;

// Path
$base-image-url: '../assets/images';
$base-font-url: '../assets/fonts/';

/*Iconmoon*/
$icomoon-font-path: $base-font-url;
$icon-heart: \f004;
$icon-eye: \f06e;
$icon-comment: \f075;
$icon-paperclip: \f0c6;