.loadmore {
  text-align: center;
  width: 100%;

  button {
    display: flex;
    align-items: center;
    margin: 20px auto;
    cursor: pointer;

    span {
      margin-right: 5px;
      color: $white;
    }
  }
}